// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1340px;

// Container padding.
$container-padding-sm: 15px;
$container-padding-lg: 20px;

// Font families.
$ff			: 'Euclid Circular A', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-light	: 300;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;

// Line heights.
$lh			: 1.5;
$lh-title	: 1.3;

// Colors.
$white	: #FFFFFF;
$black	: #000000;
$dark	: #191E24;
$grey-d	: #889099;
$accent : #FEA434;
$active-bg: #8a8a8a;

// Others.
$op: 0.75;
$tr: 0.35s;
$br7: 7px;
$br12: 12px;